.DS_Store

# ─── Airflow generated folders ───────────────────────────────────────────────
etl_data/airflow/docker-compose/logs/
etl_data/airflow/docker-compose/plugins/
etl_data/airflow/docker-compose/config/

# ─── Dagster generated folders ───────────────────────────────────────────────
dagster_home/

# ─── Prefect generated folders ───────────────────────────────────────────────
.prefect/

# ─── Python cache ─────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ─── Virtual environments ─────────────────────────────────────────────────────
.venv/
venv/
env/

# ─── Build / packaging ────────────────────────────────────────────────────────
*.egg-info/
dist/
build/